<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <img src="<%= info.img %>" alt="">
        <h4>Nombre: <%= info.nombre  %></h4>
        <h4>Email: <%= info.email  %></h4>
    </body>
</html>